
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>notfoundpage</title>
</head>
<body>
    <div> <h2>Not Found Anything</h2>
    </div>
</body>
</html>
